* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_visual {
  height: 400px; /* 高さ300px */
  width:100%;
  background-image: url(img/mv.jpg);
  background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
  background-position: bottom; /* 背景画像を中央に配置 */
}

.head_line {
  padding:20px;
}

main {
  width: 840px;
  margin:50px auto;
}

.blog-item1 {
  margin-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
}

.blog-item2 {
  margin-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
}

.blog-item3 {
  margin-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
}

.blog-item4 {
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
}